body {
  margin: 0px;
  padding: 0px;
<<<<<<< HEAD

=======
  background: gray;
>>>>>>> origin/gh-pages
}

#headerDiv {

  position: relative;
  height: 100vh;
  background: url(./images/header-back.jpg) top center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow:hidden;
  margin-bottom:0px;

}

<<<<<<< HEAD
/*#myname {
=======
#myname {
>>>>>>> origin/gh-pages
  height: 25vh;
  width: 100vw;
  background-image: url(./images/name.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px;
<<<<<<< HEAD
}*/

.myname{
  background: url(./images/name.png) top center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 20vh;
  position: relative;
  top: 20vh;

=======
>>>>>>> origin/gh-pages
}

#infoDiv {
  height: 1900px;
  background-color: black;
}

#navbar{
    z-index: 1;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

.shadow{
  box-shadow: 5px 5px 2px gray;
}

#gaming{
  padding:10;
  margin:0;
}

#talents{
  font-family: impact;

  border-top: 2px solid black;
  margin-bottom: 0px;
  text-align: center;
  background-color:white;

}

.talents{
  padding: 50px;
  height: 25vh;
  background-color:white;
  opacity: 0;
  position: relative;
  transform: translateX(-20px);
  transition: all .5s cubic-bezier(.22,.91,.64,1.68);
}

.is-showing{
  opacity: 1;
  transform: translateX(0px);
}

.iconL{
  width: 15%;
  float: left;
}
.iconR{
  width: 15%;
  float: right;
}

.skills{
  text-align: center;
}



.projects{
  border: 1px solid red;
  height: 75vh;
  background-color:gray;
}

#aboutMe{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 75vh;
  background: url(./images/10H.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow:hidden;

}
